<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>Hey there!<br>
           I go by the name N Krithick Santhosh. Stringed together, it mean "Creator of Happiness"
           and it also has an amazing ring to it!<br>
           I hail from Kalpakkam, Tamilnadu which is about 70 kilometers away from chennai and about
           a mile from the nuclear reactor (Ever wondered why am so (radio)active in doing stuff?).<br>
           Am currently pursing my B.Tech in Aerospace Engineering from Indian Institute of Technology, Kharagpur. 
        </p>
    </div>
    <div class="skill-lock"></div>
</section>