<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar" />
    </div>

    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/college.svg" alt="Picture" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h6 align="center" class="story-heading">Started schooling at</h6>
                <h2 class="story-heading">Kendriya Vidyalaya No.2 Kalpakkam</h2>
                <p>place holder</p>
                <span class="cd-date">2006 - 2017</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/college.svg" alt="Picture" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h6 align="center" class="story-heading">Started College at</h6>
                <h2 class="story-heading">Indian Institute Of Technology, Kharagpur</h2>
                <p>place holder</p>
                <span class="cd-date">2017 - present</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
    
        <!-- <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="../assets/img/idea14.svg" alt="College" />
            </div> -->
        <!-- cd-timeline-img-->
        <!-- <div class="cd-timeline-content">
                <h2>Here for bulb</h2>
                <p></p>
                <span class="cd-date">April 2014</span>
            </div> -->
        <!-- cd-timeline-content-->
        <!-- cd-timeline-block-->
        <!-- </div> -->
    
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/web-programming.svg" alt="Picture" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Discover Competitve Programming</h2>
                <p>Place holder</p>
                <span class="cd-date">October 2017</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
    
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../assets/img/graduate38.svg" alt="Location" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Joined Robotix IIT Kharagpur</h2>
                <p>LPlace holder</p>
                <span class="cd-date">Sept 2014 - Sept 2015</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        
    
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../assets/img/hosting.svg" alt="Location" />
            </div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Joined The Scholars' Avenue</h2>
                <p>Place holder text</p>
                <span class="cd-date">May 2015 - Current</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location">
                    <img src="../assets/img/question30.svg" alt="Location" />
                </div>
            </div>
            <!-- cd-timeline-->
        </div>
    </section>

    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>